@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

html {
	font-family: 'Work Sans', sans-serif;
	background-color: #FAF5EE;
}

body {
	width: 100%;
	margin: 0px;
  margin-bottom: 4rem;
}

h1 {
	text-align: center;
	font-weight: bold;
  font-size: 1.5626rem;
  line-height: 0.875rem;
}

h2 {
  font-weight: normal;
  text-align: center;
  margin-bottom: 0px;
}

h3 {
  text-align: center;
  width: 14.0625rem;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  font-weight: normal;
  font-size: 100%;
}

a {
  text-decoration: none;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

.medevan {
  display: none;
}
.lrgevan {
  display: none;
}
.lilevan {
	display: block;
	margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  width: 7rem;
}

.work {
	width: 14.0625rem;
	display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 6px 10px grey;
}

.site {
	width: 50%;
  background-color: #000;
  border-radius: 20px;
  text-align: center;
  padding: .6rem;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 3px 10px grey;
}

.logo {
	width: 25%;
	display: block;
	margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}

.work {
  width: 14.0625rem;
}


.toptext {
    display: block;
    margin-top: auto;
    margin-right: auto;
}

.arrow {
  display: none;
}

.printtxt {
  display: none;
}




@media only screen and (min-width: 43.75em) {
    .medevan {
      display: block;
    margin-top: 2rem;
    margin-left: -12rem;
    width: 139%;
  }
  .lrgevan {
  display: none;
  }
    .lilevan {
    display: none;
  }

  .work {
  width: 27.0625rem;
  }

  .toptext {
  display: inline-block;
  margin-top: 10rem;
  margin-bottom: 3rem;
  width: 58%;
  }

  .arrow {
    display: block;
    padding-top: 1rem;
    padding-left: 1rem;
    width: 4%;
  }


  .mainimg {
  display: inline-block;
  float: left;
  width: 32%;
  transition: width 1s ease;
  }
  .mainimg:hover {
  width: 37%;
  cursor: pointer;
  }

  .imgs {
    clear: both;
  }

  h1 {
  text-align: left;
  font-weight: bold;
  font-size: 220%;
  line-height: 0.875rem;
  }

  h3 {
  text-align: left;
  font-size: 120%;
  width: 27.0625rem;
  margin: 0;
  }
}




@media only screen and (min-width: 59.375em) {
  .lrgevan {
  display: block;
  width: 105%;
  margin-top: 2.25rem;
  transition: width 1s ease;
  }
  .lrgevan:hover {
  width: 125%;
  cursor: pointer;
  }

  h1 {
  font-size: 320%;
  transition: font-size 1s ease;
  }

  h3 {
  font-size: 135%;
  margin: 0;
  }

  .medevan {
    display: none;
  }

  .mainimg {
    display: inline-block;
    float: left;
    width: 40%;
  }

  .toptext {
    display: inline-block;
    float: right;
    display: inline-block;
    margin-top: 7rem;
    margin-right: 3.8rem;
    margin-bottom: 7rem;
    width: 47%;
  }
}



@media print {
  html {
  background: none
  }
  .print {
  display: none
  }
  .site {
  display: none;
  }
  .toptext {
  display: block;
  margin-top: 10rem;
  }
  .logo {
  width: 10%;
  }

  .lilevan {
  display: none;
  }
  .printtxt {
  display: block;
  text-align: center;
  }

}
